html,
body {
    height: 100%;
          @extend %TenorSans;
        //   color: $text;
        // position: relative;
        // overflow-x: hidden;
        // margin: 0 auto;
        //   background-color: $background;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}
.container{
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 15px;
}
.header__line-wrapper {
     max-width: 1630px;
     margin: 0 auto;
     padding: 0 15px; 
     display: flex;
     align-items: center;
     justify-content: space-between;
}

section{
    padding: 40px 0px;
}

.title{
    @extend %VollkornSC;
    font-size: 36px;
    line-height: 50px;
    padding: 0 15px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: fit-content;
}


.global-btn{
    padding: 13px;
    background-color: $main;
    @extend %TenorSans;
    font-size: 14px;
    line-height: 16px;
    color: $text;
    width: fit-content;
    text-transform: uppercase;
    border-radius: 1px;
}

.coaching-btn,
.timetable-btn,
.price-btn {
    display: block;
    margin: 0 auto;
}